---
import { Image } from "astro:assets";
import astronautImage from "~/assets/monroe.png";
import pumpfunImage from "~/assets/signture.png";
import HeroImage from "~/components/hero-image.astro";


const widths = [350, 700];
const sizes = "(min-width: 480px) 42vw, 67vw";
---

<section class="relative w-screen h-full bg-black sm:h-full">
  
  
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    
      <h2
        class="flex flex-col w-11/12 text-center gap-2 sm:gap-4 sm:self-auto sm:justify-self-end"
      >
      <div
      id="signature"
      class="w-full max-w-10/12 h-full self-center sm:w-36/44 sm:self-auto sm:justify-self-center p-5"
    >
      <Image
        class="h-full w-full object-cover"
        src={pumpfunImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Monroe"
      />
    </div>
        <div
          class="text-white font-bold tracking-tighter text-lg md:text-2xl m-5"
        >
        The token for fans and people with great taste.
          <br /> 
          <br />
          <p class="w-11/12 m-auto">
          Iconic and <span class="text-primary">Marilyn Monroe</span> is the same word when you think about one of the finest ladies in history and <span class="text-primary">$MONROE</span> is the ticker <span class="text-primary">for those who appreciate timeless beauty</span> now on Solana!
          </p>
          
        </div>
      </h2>
      
    <div
      id="logo"
      class="w-8/12 h-4/5 md:h-5/5 self-center sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Image
        class="h-full w-full object-contain"
        src={astronautImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Marilyn Floating"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(30px, 0px, 0);
    }
  }

  #logo {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #logo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
